body {
	margin-top: 50px; 
	margin-bottom: 200px; 
	font-family: 'Varela Round','Kosugi Maru','Noto Sans SC', 'SF Pro Text', 'Arial', 'PingFangSC', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
	background-color: #fafafa;
}
a {color: black; text-decoration: none;}
a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}
a:hover		{color: black; text-decoration: none;}
a:active {color: black; text-decoration: none;}
a.linkTxt:hover {color: rgba(135, 135, 135, .75) !important;}
a.linkImg {
	top: 3px;
	left: 45px;
	position: absolute;
	opacity: 1;
}
a.linkImg:hover {opacity: .65;}
#urlForm {
	top: translate(50%, 50%);
}
footer {
	color: #343434;
	background-color: #fefefe;
    box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 25%), 0px 0px 2.9px rgb(0 0 0 / 22%);
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 10px;
}
footer > a, footer > a:link {
	color: #343434;
}
.siteFavicon {
	width: 40px;
	height: 40px;
}
.siteHeader, .siteViceHeader {
	padding: 7px;
	color: #343434;
	position: relative;
	width: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50px);
	font-style: italic;
	font-weight: bold;
	font-size: 50px;
}
.siteViceHeader {
	font-size: 20px;
}
header {
	height: 40px;
	color: #343434;
	background-color: #fefefe;
    box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 25%), 0px 0px 2.9px rgb(0 0 0 / 22%);
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}
header, footer {
	display: block;
}
.urlForm {
	padding: 7px;
	/*border: 0px solid transparent;*/
	/*border-radius: 9px;*/
	color: #343434;
	/*background-color: #fefefe;*/
    /*box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 25%), 0px 0px 2.9px rgb(0 0 0 / 22%);*/
    min-height: 60px;
	position: relative;
	width: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
}
.urlSubmitButton {
	cursor: pointer;
	min-width: 30px;
	height: 30px;
	border: 0px solid transparent;
	border-radius: 990px;
	background-color: #fefefe;
    box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 25%), 0px 0px 2.9px rgb(0 0 0 / 22%);
    transform: translate(50%, 3px);
}
:focus {
	outline: 0px auto transparent;
}
.urlInputField {
	padding: 10px;
	min-width: 300px;
	height: 20px;
	border: 0px solid transparent;
	border-radius: 23px;
	background-color: #fefefe;
    box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 25%), 0px 0px 2.9px rgb(0 0 0 / 22%);
}
.submitButton {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-25%, 50%);
}