body {font-family: 'Varela Round','Kosugi Maru','Noto Sans SC', 'SF Pro Text', 'Arial', 'PingFangSC', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;}
a {color: black; text-decoration: none;}
a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}
a:hover		{color: black; text-decoration: none;}
a:active {color: black; text-decoration: none;}
a.linkTxt:hover {color: rgba(135, 135, 135, .75) !important;}
a.linkImg {opacity: 1;}
a.linkImg:hover {opacity: .65;}
#urlForm {
	top: translate(50%, 50%);
}
footer {
	width: fit-content;
	position: absolute;
	bottom: 10px;
	left: 10px;
}